.dh-section {
    display: flex;
    width: 100%;
}

.calendar-container *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calendar-container button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.calendar-container {
    width: 50%;
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    margin-right: 3%;
}

.calendar-date {
    font-size: 24px;
    font-weight: 600;
}

.calendar-container button {
    width: 38px;
    height: 38px;
    font-size: 30px;
    color: #878787;
}

#calendar-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.calendar-container ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendar-week > li {
    font-weight: 500;
}

.calendar-body ul li {
    width: calc(100%/7);

    position: relative;
}

.calendar-days li {
    z-index: 1;
    margin-top: 30px;
    cursor: pointer;
}

.other {
    opacity: .3;
}
/* to do list 영영입니다 */
.todolist-container {
    width: 50%;
    margin-top: 3rem;
    background-color: #F5F5F5;

    display: flex;
    flex-direction: column;

    position: relative;
}

.todolist-title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
}

.todolist-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.todolist {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

#todolist-content {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    position: relative;
}
.todolist-bottom {
    height: 3rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;

    position: absolute;
    bottom: 0;
   
}
.todolist-button{
    background-color: transparent;
    border: 0;
    color: gray;
    min-width: none;
    min-height: none;
    margin: 0.5rem 0.5rem;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.0rem;
}

.todo-checkbox {
    min-width: none;
    min-height: none;
    margin: 0.5rem 0.5rem;
    border-radius: 50px;
    border: 1px solid lightgray;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 15%;
}


/* 모달창 영역입니다 */

.cal-modal-container {
    background-color: #ddd;
    opacity: 0.5;
    width: 100%; height: 100%;
    position: fixed; padding: 20px;
    display: none;
}

.cal-modal-input {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
    justify-content: flex-start;
    align-items: center;

    height: 2rem;
}

.cal-modal-body {
    width: 30%;
    height: 10%;
    opacity: 0.5;
    position: fixed;
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.cal-modal-button button{
    background-color: transparent;
    border: 0;
    color: gray;
    min-width: none;
    min-height: none;
    margin: 0.5rem 0.5rem;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.0rem;
}
