
.main_section {
    position: relative;
    width: 100vw;

    
}

.message{
    position: absolute;
    top:100px;
    left:200px;
    font-size: 100px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
}
/* 메인 이미지 */
.main_img > div > img {
    /* align-items: center; */
    /* position: absolute; */
    position: relative;
    object-fit:cover;
    width: 100vw;
    top: 20px;
    /* animation: movemessage 2s linear infinite alternate; */
}
.search {
    position: absolute;
    top : 50px;
    right:100px;
    /* width: 500px; */
}
/* GENERAL BUTTON STYLING */
.button_mainsec,.button_mainsec::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* button {
    background: none;
    border: 3px solid #ffffff;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    margin: 1em auto;
    padding: 2em 6em;
    position: absolute;
    text-transform: uppercase;
    top: 400px;
    left: 100px;
} */
.button_mainsec{
    background: none;
    border: 3px solid #ffffff;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    margin: 1em auto;
    padding: 1.5em 5em;
    position: absolute;
    text-transform: uppercase;
    top: -550px;
    left: 100px;
}
.about-btn{
 position: absolute;
 top: -350px;
 left: 2.5em;
}

.button_mainsec::before,
.button_mainsec::after {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

.button_mainsec:hover {
    color: #000000;
}
/* BUTTON 5 */
.btn-clear {
    overflow: hidden;
    
}

.btn-clear::after {
    /*background-color: #f00;*/
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
}

.btn-clear:hover:after {
    height: 100%;
    width: 135%;
}
input {
    width: 400px;
    border : 1px solid #bbb;
    border-radius: 8px;
    padding : 10px 12px;
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    .main_img > div > img{
        /* position: relative; */
        width: 1200px;
    }


}

.about{
    position: relative;
    width: 100vw;
    height: 500px;
    margin-top: 400px;
    background-color: rgb(255, 255, 255);
    /* object-fit:cover; */

    /* width: 700px; */
}
.about > div > img {
    position: relative;
    width: 200px;
    top: 100px;
    float: left;
  
}

#aboutImg1{
    position: absolute;
    
    /* z-index: 1;
    left: 50px; */
}
#aboutImg2{
    position: absolute;
    /* z-index: 2;
    left: 150px;
    top: 500px; */
}
#aboutImg3{
    position: absolute;
    /* z-index: 3;
    left: 250px;
    top: 200px; */
}
.circle_main{
    position: relative;
    left: 50%;
    top: 10rem;
}
.circle_title{
    position: absolute;
    line-height: 10vw;
    width: 150px;
    height: 150px;
    border: solid black;
    border-radius: 50%;
    z-index: 2;
}

.circle_title > h1 {
    line-height: 50px;
    text-align: center;
}

.about > .abouttext {
    color: #000000;
    width: 1200px;
    padding :50px;
}

.about-text1 {
    position: absolute;
    line-height: 10vw;
    width: 150px;
    height: 150px;
    border: solid black;
    border-radius: 50%;
    z-index: 1;
    /* top: -20px; */
}
.about-text1 > h1{
    line-height: 100px;
    text-align: center;
}
.about-text2 {
    position: absolute;
    line-height: 10vw;
    width: 150px;
    height: 150px;
    border: solid black;
    border-radius: 50%;
    z-index: 1;
    /* top: -20px; */
}
.about-text2 > h1{
    line-height: 50px;
    text-align: center;
}
/* @media screen and (max-width: 1200px) {
    .about > .abouttext {       
    width: 900px;
    }
}

@media screen and (max-width: 900px) {
    .about > .abouttext {       
    width: 600px;
    }
} */