#section2-container {
    width: 100%;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

#section2-container-video {
    width: 100%;
    height: 100%;  
    object-fit: cover;
}

#section2-content {
    margin: 0;
    padding: 0;

    width: 80%;
    height: 300px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    position: absolute;

    color: white;
    font-size: 20px;
    font-weight: 600;
    
}

#section2-sport{
    width: 100%;
    height: 300px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between; 
}

li {
    text-align: center ;
    text-decoration-line:none;
    
}

a:hover > .sportimage{
    transform: scale(1.2);
    transition: all 0.5s;
}


.sport {
    background-color: rgba(0, 0, 0, 0.652);
    /* background: none; */
    /* border: 1px solid #ffffff; */
    width: 300px;
    height: 350px;
    margin-left :30px ;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    opacity: 1;
    /* border-radius: 3%; */
}
.sport>div>a>span{
       /* position: absolute; */
       padding: 12.5%;
       margin-top: 10px;
       font-size: 120px;
       /* margin: auto; */
    }
/* .iconimage {
    width: 100%;
    height: 100px;
    
} */
.sport > div > a{
    text-decoration-line:none;
    color: #ffffff;
    font-weight: 500;

} 
.sport > div > a >p{
    line-height: 80px;

} 
.sport > div > a:visited { color:rgb(255, 255, 255); }
.sportimage {
    width: 180px;
    height: 180px;
    border-radius: 5%;
    /* margin-top: -35px; */
    border: #ffffff solid 3px;
}

@media screen and (max-width:1200px) {
    #section2-container {
        height: 900px;
    }
    #section2-content {
        width: 80%;
        height: 700px;
        justify-content: center;
    }
    #section2-sport {
        background-color: rgba(0, 0, 0, 0.652);
        border-radius: 5%;
        margin-bottom: 10%;
        flex-wrap: wrap;
        height: 100%;
        justify-content: center; 

    }
    .sport{
        background-color: rgba(255, 255, 255, 0);
        width:40%;
        height: 40%;
        margin-left: 1%;
        margin-bottom: 1%;
    }
    
    .sportimage {
        width: 10%;
        height: 10%;
        min-width: 150px;
        max-width: 150px;
        min-height: 150px;
        max-height: 150px;
        border-radius: 20%;
    }

    .sport>div>a>span{
        padding: 10px;        
     }
}