.section2-title{
    position: relative;
    margin-top: 100px;
      width: 100%;
      height: 700px;
      text-align: center;
      line-height: 60px;
      /* background-color: rgba(0, 0, 0, 0.696); */
  }
  
  .section2-title > .box{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.486);
    color: #ffffff;
    left: 25%;
    
    /* display: flex;
    justify-content: center; */
    

  }
  .section2-title > .box > div >p{
   margin-top: 10%;
    

  }
  .section2-title > img{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  /* .section2-title > .text{
    position: absolute;
    left: 0;
    width: 100%;
    height: 500px;
    z-index: -1;
  } */

  .section2-container {
  
    position: relative;
      width: 90%;
      margin : auto;
      overflow: hidden;
      margin-top: 200px;
      margin-bottom: 200px;
  }
  .section2-item {
    position: relative;
    width: 100%;
    height: auto;
  }
  .section2-item img{
      width: 100%;
      height:100%;
      object-fit: contain;
      filter: brightness(1);
  }
  .imgFlex1-1 > a > img:hover{
    filter: brightness(0.5);
  }
  .imgFlex1-1{
    position: relative;
  }
  .section2-item > div >div > a{
    
    text-decoration-line:none;
    color: #000000;
    font-weight: 400;
   
    
  }
  .section2-item > div> div>a:visited {
     color:rgb(255, 255, 255); 
    }
  .section2-item > div>div> a >p{
   
    
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -25%;
    width: 50%;
    height: 50px;
    line-height: 45px;
    border: 2px solid white; 
    text-align: center;
    
    /* margin-top:-250px;
    margin-left: 3rem; */
    /* text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; */
  }
  .section2-item > div>div> a>p:hover{
  
    background-color: #1E90FF;
    border-color: #1E90FF;
 }


 @media (max-width : 740px) {
  .section2-title > .box{
    width: 100%;
    left: 0;
    }
  }

  @media (min-width : 640px) {
      .section2-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
          grid-auto-flow: row dense;
      }
      .imgFlex1{
          display: grid;
          row-gap: 20px;
      }
      .imgFlex2{
          display: grid;
          row-gap: 20px;
      }
  }