.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* main slide */
.slide-img{padding-bottom:60%;}
.slide-img01{background-image:url(../../github/KDT_web_9/imageFolder/image.png);}
.slide-img02{background-image:url(../../github/KDT_web_9/imageFolder/image.png); background-position:bottom center;}
.slide-img03{background-image:url(../../github/KDT_web_9/imageFolder/image.png); background-position:bottom center;}
.slide-img04{background-image:url(../../github/KDT_web_9/imageFolder/image.png);}
.slide-img05{background-image:url(../../github/KDT_web_9/imageFolder/image.png); background-position:bottom center;}
.slide .slide-txt{width:100%; height:100%; padding:3%;  box-sizing:border-box;}
.slide .slide-txt img{width:3rem;}
.slide .slide-txt p{width:75%; margin:0 auto; font-size:1rem; padding-top: 80px}
.slide .slide-txt p:before{margin:2rem 0 1rem;}
.slide .slide-txt p span{font-size: 0.8rem; line-height: 24px;}
.slide .slide-txt a{margin:1.5rem 0 0 15%;}

/* Arrow */
.slide>button{width: 2.5rem; height: 2.5rem;}
.slide>button:before{font-size: 1.5rem;}
.slide>button.slick-prev{left:3%;}
.slide>button.slick-next{right:3%;}
/* //Arrow */

/* Dots */
.slide .slick-dots{right:43%; transform:translateX(50%);}
/* //Dots */

/* CONTENTS */
/* sec_02 */
.sec_02 {
	min-height: auto;
}

/* main slide */
.slide {
	position: relative;
	width: 100%;
}
.slide > div {
}
.slide-img {
	width: 100%;
	padding-bottom: 32%;
	background-repeat: no-repeat;
	background-size: cover;
}
.slide-img06 {
	background-image: url(/imageFolder/image.png);
	background-position: bottom center;
}
.slide-img01 {
	background-image: url(/imageFolder/image.png);
	background-position: bottom center;
}
.slide-img02 {
	background-image: url(/imageFolder/image.png);
	background-position: center center;
}
.slide-img03 {
	background-image: url(/imageFolder/image.png);
	background-position: bottom center;
}
.slide-img04 {
	background-image: url(/imageFolder/image.png);
	background-position: bottom center;
}
.slide-img05 {
	background-image: url(/imageFolder/image.png);
	background-position: bottom center;
}
.slide-img06 {
	background-image: url(/imageFolder/image.png);
	background-position: bottom center;'
}
.slide-img07 {
	background-image: url(/imageFolder/image.png);
	background-position: bottom center;
}
.slide-img08 {
	background-image: url(/imageFolder/image.png);
	background-position: bottom center;
}
.slide-img09 {
	background-image: url(/imageFolder/image.png);
	background-position: bottom center;
}
.slide-img10 {
	background-image: url(/imageFolder/image.png);
	background-position: bottom center;
}
.slide-img11 {
	background-image: url(/imageFolder/image.png);
	background-position: bottom center;
}
.slide-img12 {
	background-image: url(/imageFolder/image.png);
	background-position: bottom center;
}
.slide-img14 {
	background-image: url(/imageFolder/image.png);
	background-position: bottom center;
}
.slide-img15 {
	background-image: url(/imageFolder/image.png);
	background-position: bottom center;
}
.slide-img16 {
	background-image: url(/imageFolder/image.png);
	background-position: top center;
}
.slide-img17 {
	background-image: url(/imageFolder/image.png);
	background-position: bottom center;
}
.slide-img17 {
	background-image: url(/imageFolder/image.png);
	background-position: bottom center;
}
.slick-slide {
	position: relative;
}
.slide > div img {
	width: 100%;
}
.slide .slide-txt {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
	width: 30%;
	min-height: 90%;
	padding: 4rem;
	background: rgba(0, 0, 0, 0.6);
}


.slide .slide-txt img {
	width: 69px;
	position: absolute;
	top: 0px;
}

.slide .slide-txt img.slide_icon{
	top: 40px;
}
.slide .slide-txt p {
	font-size: 1.8rem;
	color: #fff;
	word-break: keep-all;
	line-height: 42px;
	padding-top: 50px;
}
.slide .slide-txt p:before {
	display: none;
	content: "";
	width: 2.5rem;
	height: 0.25rem;
	background: #fff;
	margin: 3rem 0 1.5rem;
}

.slide .slide-txt p span{
	display:inline-block;
	font-weight: bold;
	padding-top: 10px;
	font-size: 1.2rem;
	letter-spacing: 1px;
	line-height: 32px;
}
.slide .slide-txt a {
	display: block;
	width: 12.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	font-size: 1rem;
	padding: 0 1rem;
	color: #fff;
	border: 1px solid #fff;
	box-sizing: border-box;
	margin: 2rem 0 0;
	position: relative;
}
.slide .slide-txt a:hover {
	background-color: #b9261c;
	border: 1px solid #b9261c;
	box-sizing: border-box;
}
.slide .slide-txt a:after {
	display: block;
	content: "";
	width: 0.5rem;
	height: 0.85rem;
	background: url(../img/ico_btn_arrow.png) no-repeat center / 100% auto;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}

/* Arrow */
.slide > button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	width: 3.5rem;
	height: 3.5rem;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 100%;
	border: none;
	cursor: pointer;
}
.slide > button:before {
	font-family: "xeicon";
	color: #fff;
	font-size: 2.25rem;
}
.slide > button.slick-prev {
	left: 2.5rem;
	font-size: 0;
	color: transparent;
}
.slide > button.slick-prev:before {
	content: "\e93d";
}
.slide > button.slick-next {
	right: 2.5rem;
	font-size: 0;
	color: transparent;
}
.slide > button.slick-next:before {
	content: "\e940";
}
/* //Arrow */

/* Dots */
.slide .slick-dots {
	position: absolute;
	bottom: 1.5rem;
	right: 2.5rem;
}
.slide .slick-dots:after {
	content: "";
	clear: both;
	display: block;
}
.slide .slick-dots li {
	float: left;
	margin: 0 0.5rem 0 0;
}
.slide .slick-dots li:last-child {
	margin: 0;
}
.slide .slick-dots li button {
	display: block;
	width: 1rem;
	height: 0.5rem;
	font-size: 0;
	background: transparent;
	border: 1px solid #fff;
	box-sizing: border-box;
	cursor: pointer;
}
.slide .slick-dots li.slick-active button {
	background: #fff;
	border: none;
	width: 4rem;
}
/* //Dots */